VITE_API_BASE_URL=http://localhost:3000
VITE_FIREBASE_API_KEY=AIzaSyAhAI5eBUq6V5fQ-aCD-Bq_8Av1-6zMVTY
VITE_FIREBASE_AUTH_DOMAIN=ilpea-f5e17.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ilpea-f5e17
VITE_FIREBASE_STORAGE_BUCKET=ilpea-f5e17.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=213090089744
VITE_FIREBASE_APP_ID=1:213090089744:web:d430f61fa24c2baeb68395
