# Datos crudos y sensibles (¡Crucial para ILPEA!)
data-science/data/*.xlsx
data-science/data/*.csv
data-science/data/*.pdf
firebase-key.json
backend/config/firebase-key.json
backend/.env

# Entornos Virtuales de Python
venv/
env/
__pycache__/

# Node / Frontend / Backend
node_modules/
.env
.env.local

# Logs y SO
*.log
.DS_Store